body {
    display: flex;
    justify-content: center;
    background: #303132;
}

.title {
    display: block;
    display: flex;
    align-items: center;
    color: #fff;
}

.title {
    position: relative;
}

.title::before {
    content: '';
    display: block;
    position: absolute;
    right: 210px;
    transform: scale(0.8);
    background-color: tomato;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color: #ffffff;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    left: 210px;
    transform: scale(0.8);
    background-color: rgb(13, 0, 255);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color: #ffffff;

}
