.new-products {
    text-align: center;
    margin: clamp(52px, 44.7273px + 2.2727vw, 72px) auto;
}

.title {
    font-family: var(--second-family);
    color: var(--main-color);
    font-weight: 900;
    text-align: center;
    font-size: clamp(30px, 23.4545px + 2.0455vw, 48px);
    margin-bottom: clamp(32px, 23.6364px + 2.6136vw, 55px);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: clamp(10px, 6.3636px + 1.1364vw, 20px);
    margin-bottom: clamp(27px, 23.7273px + 1.0227vw, 36px);
}

.card {
    text-align: left;
}

.card__image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: clamp(13px, 10.4545px + 0.7955vw, 20px);
    margin-bottom: clamp(10px, 7.8182px + 0.6818vw, 16px);
}

.card__image img {
    border-radius: 20px;
    width: 100%;
    max-width: 295px;
    height: auto;
    object-fit: contain;
}

.card h3 {
    color: var(--main-color);
    font-weight: 700;
    font-size: clamp(15px, 13.1818px + 0.5682vw, 20px);
    margin-bottom: clamp(5px, 3.9091px + 0.3409vw, 8px);
}

.rating {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: clamp(4px, 2.5455px + 0.4545vw, 8px);
}

.rating span {
    color: var(--main-color);
    font-weight: 400;
    font-size: clamp(12px, 11.2727px + 0.2273vw, 14px);
    margin-left: clamp(11px, 10.2727px + 0.2273vw, 13px);
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(5px, 3.1818px + 0.5682vw, 10px);
}

.current {
    color: var(--main-color);
    font-weight: 700;
    font-size: clamp(18px, 15.8182px + 0.6818vw, 24px);
}

.old {
    color: var(--color-price-old);
    text-decoration: line-through;
    font-weight: 700;
    font-size: clamp(18px, 15.8182px + 0.6818vw, 24px);
}

.discount {
    align-content: center;
    background: var(--badge-discount-bg);
    color: var(--badge-discount-color);
    font-weight: 500;
    font-size: clamp(10px, 9.2727px + 0.2273vw, 12px);
    border-radius: 62px;
    padding: 6px 14px;
    width: clamp(40px, 33.4545px + 2.0455vw, 58px);
    height: clamp(20px, 17.0909px + 0.9091vw, 28px);
}

.btn {
    white-space: nowrap;
    color: var(--main-color);
    font-weight: 500;
    font-size: clamp(14px, 13.2727px + 0.2273vw, 16px);
    border: 1px solid var(--btn-border-color);
    border-radius: 62px;
    padding: 16px 54px;
    width: 218px;
    height: 52px;
}

.btn:hover {
    background: var(--btn-hover-bg);
}

@media (max-width: 480px) {
    .btn {
        width: 100%;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}