.subscribe-section {
    position: relative;
    z-index: 2;
}

.subscribe {
    background: var(--main-color);
    display: flex;
    padding: 36px 64px;
    justify-content: space-between;
    align-items: center;
    transform: translateY(80px);
    gap: 74px;
    border-radius: 20px;
    height: 180px;
}

.subscribe__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 113%;
    color: var(--main-secondary-color);
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.subscribe-form__btn {
    background: var(--main-secondary-color);
    border-radius: 62px;
    padding: 12px 16px;
    width: 349px;
    height: 46px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: var(--main-color);
    transition: 0.3s;
}

.subscribe-form__btn:hover {
    opacity: 0.85;
}

.subscribe-form__input {
    border-radius: 62px;
    width: 349px;
    height: 48px;
    border: none;
    padding: 12px 16px 12px 52px;
    background: var(--main-secondary-color) url("../../icons/mail.svg") no-repeat 16px center;
    font-size: 16px;
    outline: none;
}

@media (max-width: 820px) {
        .subscribe {
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            padding: 24px;
            gap: 24px;

            height: auto;
            transform: translateY(60px);
            border-radius: 20px;
        }

        .subscribe__title {
            font-size: 24px;
            line-height: 1.1;
            text-align: left;
        }

        .subscribe-form {
            text-align: center;
            width: 100%;
            gap: 14px;
        }

        .subscribe-form__input,
        .subscribe-form__btn {
            width: 100%;
        }

        .subscribe-form__input {
            height: 50px;
            padding-left: 50px;
            background-position: 18px center;
        }

        .subscribe-form__btn {
            height: 50px;
            font-size: 16px;
        }
    
}