.page {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 98px;
}

.page__body {
    background-color: var(--bg-color);
}

.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: var(--container-padding);
    margin-inline: auto;
}
