body {
    background-color: rgb(32, 32, 32);
}

.text {
    color: azure;
    font-size: 35px;
}

.box {
    background: rgb(255, 255, 255);
    height: 100px;
    width: 46.6%;
    border-radius: 30px;
}

.box {
    position: fixed;
    left: 50%;
    bottom: 100px;
}

.circle {
    background: #8b0000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.circle {
    position: fixed;
    left: 55%;
    bottom: 150px;
}